@model PagingList<LeLeInstitute.Models.Student>
@using ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<br />
<br />
<br />
<form method="get" asp-action="Index">
    search by name:<input type="search" name="searchString" value="@ViewData["currentFilter"]" placeholder="search" />
    <input type="submit" value="Search" class="btn btn-sm btn-success" />
</form>
<br />
<nav aria-label="Products navigation example">
    <vc:pager paging-list="@Model"></vc:pager>
</nav>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["sortName"]">
                    First Name
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["sortByDate"]">
                    Enrollment Date
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    <partial name="Partials/_GroupButtonPartial" model="@item.Id" />
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Products navigation example">
    <vc:pager paging-list="@Model" />
</nav>