@model InstructorViewModel
@{
    ViewData["Title"] = "Instructors";
}

<h2>Instructors</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            First Name
        </th>
        <th>
            LastName
        </th>
        <th>
            Hire Date
        </th>
        <th>
            Location
        </th>
        <th>
            Course
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var instructor in Model.Instructors)
    {
        var selectRow = "";
        @if (instructor.Id == (int?) ViewData["InstructorID"])
        {
            selectRow = "bg-info";
        }
        <tr class="@selectRow">
            <td>
                @Html.DisplayFor(modelItem => instructor.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => instructor.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => instructor.HireDate)
            </td>
            <td>
                @if (instructor.OfficeAssignment != null)
                {
                    @instructor.OfficeAssignment.Location
                }
            </td>
            <td>
                @foreach (var course in instructor.CourseAssignments)
                {
                    @course.CourseId
                    @: @course.Course.CourseName <br/>
                }


            </td>

            <td>
                <a asp-action="Index" asp-route-id="@instructor.Id">Select</a> |
                <a asp-action="Edit" asp-route-id="@instructor.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@instructor.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@instructor.Id">Delete</a>
            </td>

        </tr>
    }
    </tbody>
</table>

@if (Model.Courses != null)
{
    <h3>Courses Taught by Selected Instructor</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            var selectedRow = "";
            if (item.Id == (int?) ViewData["CourseID"])
            {
                selectedRow = "bg-info";
            }
            <tr class="@selectedRow">
                <td>
                    @*@Html.ActionLink("Select", "Index", new { courseID = item.CourseId })*@
                    <a asp-action="Index" asp-route-courseId="@item.Id">Select</a>
                </td>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.CourseName
                </td>
                <td>
                    @item.Department.DepartmentName
                </td>
            </tr>
        }

    </table>
}




@if (Model.Enrollments != null)
{
    <h3>
        Students Enrolled in Selected Course
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Grade</th>
        </tr>
        @foreach (var item in Model.Enrollments)
        {
            <tr>
                <td>
                    @item.Student.FirstName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
}